*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(80, 28, 28);
    display: flex;
    align-items: center;
    padding: 35px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.menu li{
    display: inline-block;
    margin-left: 45px;
}

.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

figure{
    position: relative;
    width: 100%;
}
