body{
    background-color: #f2e3c6;
}

.btn-voltar{
    margin-bottom: 15px;
}

.btnCadastrar{
    margin-top: 35px;
    background-color: rgb(164, 197, 197);
    font-size: 18px;
    width: 95px;
    height: 33px;
    border-radius: 4px;
    font-family: 'Roboto';
}

.tabela{
    background-color: #e7eed0;
    padding: 25px;
    border-radius: 10px;
}

